<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NaviLoading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>353344A01D6BFEF2006769E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>353344BC1D6BFEF3006769E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>353344C71D6BFEF3006769E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
